[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EloOptimized"]
	path = EloOptimized
	url = https://github.com/jtfeld/elooptimized
	shallow = true
	registered = true
